.gallery-head{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10vh;
    gap: 2vh;
    padding: 3vh 9vw;
}
.gallery-head h1{
    font-family: "Impact";
    font-size: 25vh;
    color: white;
    letter-spacing: 5px;
    font-weight: 500;
}
.para-pic-gallery-head{
    margin-top: 12vh;
    width: 100%;
    display: flex;
    gap: 5vw;
}
.para-pic-gallery-head video{
    width: 50%;
    height: 30%;
}
.para-pic-gallery-head p{
    width: 30%;
    font-family: "Montreal";
    font-size: 2vh;
    color: white;
}

@media(max-width:500px){
    .gallery-head h1{
        font-family: "Impact";
        font-size: 4vh;
        color: white;
        letter-spacing: 5px;
        font-weight: 700;
    }
    .para-pic-gallery-head{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        gap: 5vw;
    }
    .para-pic-gallery-head video{
        width: 100%;
        height: 30%;
    }
    .para-pic-gallery-head p{
        width: 100%;
        font-family: "Montreal";
        font-size: 1.8vh;
        color: white;
    }
}

/*SELECTION BAR*/
.selectionBar{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 20px;
    gap: 2vw;
    margin-top: 10vh;
}
.selectionBar-btn{
    cursor: pointer;
    width: 14vw;
    height: 5vw;
    background-color: black;
    border: none;
    font-family: "Montreal";
    font-size: 1.5vw;
    color: white;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
}

.active-btn{
    cursor: pointer;
    width: 14vw;
    height: 5vw;
    background-color: #3D77EB;
    color: black;
    border: none;
    font-family: "Montreal";
    font-size: 1.5vw;
}

@media (max-width:500px){
    .selectionBar-btn{
        width: 25vw;
        height: 10vw;
        font-size: 3vw;
    }
    .active-btn{
        width: 25vw;
        height: 10vw;
        font-size: 3vw;
    }
}

.imageHolder{
    display: none;
}

.imageHolder-active{
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
}

.imageHolder-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imageHolder-text h1{
    font-family: "Montreal";
    color: #3D77EB;
}
.imageHolder-images{
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    justify-content: center;
    margin-top: 5vh;
}
.imageHolder-images div{
    width: 600px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
}
.imageHolder-images div img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all 1s linear;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -o-transition: all 1s linear;
}
.imageHolder-images div img:hover{
    animation: animImg 5s ease-in-out;
    -webkit-animation: animImg 5s ease-in-out;
}

@keyframes animImg{
    from{
        scale: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
}
    to{
        scale: 2;
        transform: translateY(10px);
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
}
}

@media (max-width:500px){
    .imageHolder-images{
        padding: 2vh;
    }
    .imageHolder-images div{
        width: 400px;
        height: 200px;
        background-repeat: no-repeat;
        background-size: contain;
        overflow: hidden;
        margin-top: 1.5vh;
    }
}

.footer{
    margin-top: 10vw;
}

.footer h4, .footer h5, .footer a, .footer i{
    color: black;
}



